<div class="container">
    <div class="left">
        <div class="mainText">Learn Any Skills To Advance Your Career Path</div>
        <div class="curve"></div>
        <div class="subText">Want to improve your work skills? You need to study <br> harder with the help of a great mentor to improve your performance at work</div>
        <div class="button">
           <button> Explore Path</button> 
            <img class="Images person1" alt="person" src="../../../assets/1.png">
            <img class="Images person2" alt="person" src="../../../assets/2.png">
            <img class="Images person3" alt="person" src="../../../assets/3.png">
            <i class="fa fa-star" style="color: #FAD6A1; margin-left: 11em;"></i>
            <i class="fa fa-star" style="color: #FAD6A1;"></i>
            <i class="fa fa-star" style="color: #FAD6A1;"></i>
            <i class="fa fa-star" style="color: #FAD6A1;"></i>
            <i class="fa fa-star-half-o" aria-hidden="true" style="color: #FAD6A1;"></i>
            <h6>(4,5/5 dari 10k Alumni)</h6>
 </div>
    </div>
    <div class="right">
        <img src="../../../assets/Man.png" alt="man">
    </div>
</div>
