<div class="container">
    <img src="../../../assets/opinions.png" alt="">
    <div>
        <div class="right">
            <h1>What did they say</h1>
            <p>
                Higher education in the era of the industrial revolution 4.0 requires breakthrough learning using digital platforms that answer the challenges of millennial students to study anywhere, anytime and with leading-edge ICT technology. From student recruitment to teaching and learning administration processes,            </p>
            <div class="auther">
                <div>
                <span class="name">Briana Patton</span><br>
            <span class="description">Designer at Salesforce</span>
            </div>
                <div><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></div>
       </div>
    </div>
    </div>
</div>
