<div class="container">
<div class="col-1">
    <span>Event & Bootcamp</span>
    <div class="col-1-details">
        <div>
            <ul>
                <li>Web Development</li>
                <li>Mobile Development</li>
                <li>UI Design</li>
                <li>UI Research</li>
                <li>Presentation</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>Communication</li>
                <li>Video Production</li>
                <li>Digital Marketing</li>
                <li>Branding</li>
            </ul>
        </div>
    </div>
</div>
<div class="col-2">
    <span>About Owlearn</span>
    <div>
        <ul>
            <li>Adminstration Info</li>
            <li>Article</li>
            <li>Group & Referral Program</li>
            <li>Careers</li>
        </ul>
    </div>
</div>
<div class="col-3">
    <span>Contact</span>
    <div>
        <ul>
            <li><a href="">support@edtech.com</a></li>
            <li><a href="">(+62) 85923935983</a></li>
            <li class="lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li class="social">
                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
</div>
</div>
<div class="copyWrite">
    Copyright © 2021 Owlearn. All Rights Reserved.
</div>
