<div class="header">
    <div class="logo">
        <img src="../../../assets/logoscreenshot.png" alt="logo"><span>Owlearn</span>
    </div>
    <div class="menu">
        <a routerLink="/home" routerLinkActive="active"> Home</a> 
        <a routerLink="/home/bootcamp" routerLinkActive="active"> Bootcamp</a> 
         <a routerLink="/home/events" routerLinkActive="active"> Events</a> 
         <a routerLink="/home/article" routerLinkActive="active"> Article</a> 
         <a routerLink="/home/contactus" routerLinkActive="active"> Contact Us</a>
         <label class="btnClick" for="show">Contact Us</label>
         <div class="center">
            <input type="checkbox" id="show">
<div class="container">
    <app-pop-up-window></app-pop-up-window>
    </div>
</div>
            </div>
         </div>
         