<h4>Our graduates have worked in</h4>
<div class="row1">
    <img src="../../../assets/clickup.png" style="height: 12.5em; width: 16em; margin-top: -3.8em;"  alt="">
    <img src="../../../assets/Dropbox.png" style="height: 8em; width: 10em; margin-top: -1.3em;" alt="">
    <img src="../../../assets/Elastic_Logo.jpeg" style="height: 13em; width: 16em; margin-top: -4em;" alt="">
    <img src="../../../assets/GitHub-Emblem.png" alt="">
    <img src="../../../assets/freshbooks-logo-1.png" alt="">
</div>
<div class="row2">
    <img src="../../../assets/HelpScout.png" style="height: 8em; width: 10em; margin: -2.6em 2em;" alt="">
    <img src="../../../assets/HubSpot-Logo.png" style=" height: 6em; margin-top: -1.6em;" alt="">
    <img src="../../../assets/intuit-logo-brandlogos.net_.png" style="height: 7em; width: 12em; margin-top: -2em;" alt="">
    <img src="../../../assets/Google_2015_logo.png" alt="">
    <img src="../../../assets/paychex.png" alt="">
</div>
<div class="row3">
    <img src="../../../assets/Salesforce.com_logo.png" style="width: 7em; margin: .8em 0em 0em 3em;"  alt="">
    <img src="../../../assets/SAP_AG_(logo).gif" style="height: 4em; width: 7em; margin: .8em 0em 0em 3em;" alt="">
    <img src="../../../assets/segment-logo.webp" style="width: 7em; .8em 0em 0em 3em;" alt="">
    <img src="../../../assets/ServiceNow-Logo.png" alt="">
    <img src="../../../assets/Shopify-Logo.png" alt="">
</div>
