<div class="mainContainer">
    <div class="leftContainer">
        <img src="../../../assets/membership.jpeg" alt="">
        <div class="imageText">
            <h2>Educational technology</h2>
            <p>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                Jakarta, Indonesia
            </p>
        </div>
    </div>
    <div class="rightContainer">
        <h1>Owlearn helps you Become Experienced</h1>
        <p>
            Owlearn provides e-learning solutions for companies, universities and individual professionals. It allows users to create courses, and provides an integrated learning management system. Its offerings include digital course tools, study materials, IT infrastructure and other operations.
        </p>
        <button>Become a Member</button>
    </div>
</div>
